body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightsalmon;
}
.boton-contenedor{
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
}


.boton {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.boton:hover {
    background-color: blue;
}


.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imagen {
    width: 23%;
    margin: 5px;
    box-sizing: border-box;
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
     transition: transform 0.3s ease;
}

.leibel {
    transform: scale(1.05);
}
